@use './partial/header.scss';
@use './partial/footer.scss';
@use './partial/card.scss';
@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    li{
        list-style: none;
    }
}

main{
    margin-top: 100px;
    height: calc(100vh - 160px);

    .row {
        margin-right: 0;
    }
}

